.venv/
venv/
env/
mindcraft/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.pkl
*.egg-info/
build/
dist/
.git/
notebooks/
scripts/
tests/
*.png
*.jpg
google-cloud-sdk/
google-cloud-cli-linux-x86_64.tar.gz
mindcraft_remaining_modules.zip
data/*.npz
